<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}" />
        <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}" />
        <link rel="stylesheet" href="../static/css/add-member.css" th:href="@{/css/add-member.css}" />
        <script src="https://kit.fontawesome.com/261c90fc7c.js" crossorigin="anonymous"></script>
        <title>Add Member | GoDutch</title>
    </head>
    <body>
        <div class="nav">
            <a href="/">
                <span>GoDutch</span>
            </a>
        </div>
        <div class="add__wrapper__body">
            <div class="add__body">
                <!--      Edit href to Edit page by id         -->
                <div><a class="back__btn"  th:href="@{/back-edit-dutch/{id}(id=${dutch.id})}"><i class="fa-solid fa-angle-left"></i> BACK</a></div>
                <div class="add__wrapper__LR">
                    <div class="add__body__left">
                        <div class="add__body__left__top">
                            <div class="add__wrapper__input">
                                <div class="add__wrap__input__span">
                                    <span>Title</span>
                                </div>
                                <input type="text"  name="" id="" th:placeholder="${dutch.topic}" disabled="true"/>
                            </div>
                        </div>
                        <div class="add__body__left__bottom">
                            <form action="#" th:action="@{/add-member{id}(id=${dutch.id})}" method="post">
                            <div class="add__wrapper__input">
                                <div class="add__wrap__input__span">
                                    <span>Member</span>
                                </div>
                                <input type="text" name="name" />
                            </div>
                            <div class="add__wrap__check">
                                <div class="check__list" th:each="item : ${dutch.itemList}">
                                    <input type="checkbox" name="item" th:value="${item.item_name}">
                                    <label th:text="${item.item_name}"></label>
                                </div>
                            </div>
                            <button class="add__add__btn">Add Member</button>
                            </form>
                        </div>
                    </div>
                    <div class="add__body__right">
                        <div class="add__body__right__header">Member List</div>
                        <div class="add__item__list" th:each=" member : ${memberList}">
                            <span  th:text="${member.name}" ></span>
                            <div th:each=" eat : ${member.itemEat}">
                                <span class="edit__item" th:text="${eat}"></span>
                            </div>
                            <a class="add__remove__btn" th:href="@{/delete_member{id}/{memberId}(id=${dutch.id},memberId=${member.id})}" >
                                <i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </div>
                <div class="add__body__bottom">
                    <a class="add__save__btn" th:href="@{/save-member{id}(id=${dutch.id})}">Save</a>
                </div>
            </div>
        </div>
    </body>
</html>
