<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}" />
        <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}" />
        <link rel="stylesheet" href="../static/css/edit-dutch.css" th:href="@{/css/edit-dutch.css}" />
        <script src="https://kit.fontawesome.com/261c90fc7c.js" crossorigin="anonymous"></script>
        <title>Edit Dutch | GoDutch</title>
    </head>
    <body>
        <div class="nav">
            <a href="/">
                <span>GoDutch</span>
            </a>
        </div>
        <div class="edit__wrapper__body">
            <div class="edit__body">
                <div class="edit__wrapper__LR">
                    <div class="edit__body__left">
                        <div class="edit__body__left__top">
                            <div class="edit__wrapper__input">
                                <div class="edit__wrap__input__span">
                                    <span>TOPIC</span>
                                </div>
                                <input type="text" th:placeholder="${dutch.topic}" disabled="true"/>
                            </div>
                            <a class="edit__add__btn" th:href="@{/edit-member/{id}(id=${dutch.id})}">Add Member</a>

                        </div>
                        <div class="edit__body__left__bottom">
                            <form action="#" th:action="@{/update-item-dutch/{id}(id=${dutch.id})}" method="post" th:object="${dutch.itemList}">
                            <div class="edit__wrapper__input">
                                <div class="edit__wrap__input__span">
                                    <span>Item</span>
                                </div>
                                <input type="text" name="item_name"/>
                            </div>
                            <div class="edit__wrapper__input">
                                <div class="edit__wrap__input__span">
                                    <span>Price</span>
                                </div>
                                <input type="text" name="price"/>
                            </div>
                            <button class="edit__add__btn">Add Item</button>
                            </form>
                        </div>
                    </div>
                    <div class="edit__body__right">
                        <div class="edit__body__right__header">Item List</div>
                        <div class="edit__item__list" th:each="item : ${dutch.itemList}">
                            <span th:text="${item.item_name}" th:value="${item.item_name}" name="itemName" ></span>
                            <span th:text="${item.price}" ></span>
                            <a class="edit__remove__btn" th:href="@{/delete_item-dutch/{id}/{ItemId}(id=${dutch.id}, ItemId=${item.id})}"  ><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="edit__body__right">
                        <div class="edit__body__right__header">Member List</div>
                        <div class="edit__item__list">
                            <span>Wave</span>
                            <span class="edit__item">กะหรี่</span>
                            <span class="edit__item">เบียร์</span>
                            <span class="edit__remove__btn"><i class="fa-solid fa-trash"></i></span>
                        </div>
                        <div class="edit__item__list">
                            <span>Wave</span>
                            <span class="edit__item">กะหรี่</span>
                            <span class="edit__remove__btn"><i class="fa-solid fa-trash"></i></span>
                        </div>
                    </div>
                </div>
                <div class="edit__body__bottom">
                    <button class="edit__save__btn">Save</button>
                    <button class="edit__cal__btn">Calculate</button>
                </div>
            </div>
        </div>
    </body>
</html>
