<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}" />
        <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}" />
        <link rel="stylesheet" href="../static/css/edit-dutch.css" th:href="@{/css/edit-dutch.css}" />
        <script src="https://kit.fontawesome.com/261c90fc7c.js" crossorigin="anonymous"></script>
        <title>Edit Dutch | GoDutch</title>
    </head>
    <body>
        <div class="nav">
            <a href="/">
                <span>GoDutch</span>
            </a>
        </div>
        <div class="edit__wrapper__body">
            <div class="edit__body">
                <div><a class="back__btn" href="/"><i class="fa-solid fa-angle-left"></i> BACK</a></div>

                <div class="edit__wrapper__LR">
                    <div class="edit__body__left">
                        <div class="edit__body__left__top">
                            <div class="edit__wrapper__input">
                                <div class="edit__wrap__input__span">
                                    <span>Title</span>
                                </div>
                                <input type="text" th:placeholder="${dutch.topic}" disabled="true"/>
                            </div>

                        </div>
                        <div class="edit__body__left__bottom">
                            <form action="#" th:action="@{/update-item-dutch/{id}(id=${dutch.id})}" method="post" th:object="${dutch.itemList}">
                            <div class="edit__wrapper__input">
                                <div class="edit__wrap__input__span">
                                    <span>Item</span>
                                </div>
                                <input type="text" name="item_name"/>
                            </div>
                            <div class="edit__wrapper__input">
                                <div class="edit__wrap__input__span">
                                    <span>Price</span>
                                </div>
                                <input type="text" name="price"/>
                            </div>
                            <button class="edit__add__btn"><i class="fa-solid fa-circle-plus" style="margin-right: 5px"></i>Add Item</button>
                            </form>
                        </div>
                    </div>
                    <div class="edit__body__right">
                        <div class="edit__body__right__header">Item List</div>
                        <div class="edit__item__list" th:each="item : ${dutch.itemList}">
                            <span th:text="${item.item_name}" th:value="${item.item_name}" name="itemName" ></span>
                            <span th:text="${item.price}" class="add__sign" ></span>
                            <a class="edit__remove__btn" th:href="@{/delete_item-dutch/{id}/{ItemId}(id=${dutch.id}, ItemId=${item.id})}"  ><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="edit__body__right">
                        <div class="edit__body__right__header">Member List</div>
                        <div class="edit__item__list" th:each="member : ${dutch.member}">
                            <span th:text="${member.name}"></span>
                            <div th:each=" eat : ${member.itemEat}">
                                <span class="edit__item" th:text="${eat}"></span>
                            </div>
                            <a class="edit__remove__btn" th:href="@{/delete_member-dutch/{id}/{memberId}(id=${dutch.id}, memberId=${member.id})}"><i class="fa-solid fa-trash"></i></a>
                        </div>
                        <a class="edit__add__btn add__member__btn" th:href="@{/edit-member/{id}(id=${dutch.id})}"><i class="fa-solid fa-user" style="margin-right: 5px"></i>Manage Member</a>
                    </div>
                </div>
                <div class="edit__body__bottom">
                    <a class="edit__cal__btn" th:href="@{/receipt/{id}(id=${dutch.id})}">Calculate</a>
                </div>
            </div>
        </div>
    </body>
</html>
