<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}" />
        <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}" />
        <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}" />
        <script src="https://kit.fontawesome.com/261c90fc7c.js" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/js/home.js}"></script>
        <title>GoDutch</title>
    </head>
    <body>
        <div id="loading">
            <span>GoDutch</span>
        </div>
        <div class="nav">
            <a href="">
                <span>GoDutch</span>
            </a>
        </div>
        <div class="home__wrapper__body">
            <span class="home__welcome__text">Shared your cost.</span>
            <div class="home__body">
                <div class="home__wrapper__create">
                    <a href="/create-dutch">
                        <button class="home__create__btn">
                            <i class="fa-solid fa-circle-plus"></i>
                            CREATE NEW DUTCH
                        </button>
                    </a>
                </div>
                <div class="home__dutch__list">
                    <div class="home__dutch__list__header">
                        <i class="fa-solid fa-list"></i>
                        <span>YOUR LIST</span>
                    </div>
                    <table>
                        <tr th:each="dutch : ${dutchList}" class="home__tr">
                                <td class="home__td">
                                    <a class="home__dutch__item" th:href="@{/edit-dutch/{id}(id=${dutch.id})}" th:text="${dutch.topic}"></a>
                                    <a th:href="@{/delete-dutch/{id}(id=${dutch.id})}"><i class="fa-solid fa-trash"></i></a>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
