<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/home.css" />
        <link rel="stylesheet" href="../static/nav.css" />
        <link rel="stylesheet" href="../static/global.css" />
        <script src="https://kit.fontawesome.com/261c90fc7c.js" crossorigin="anonymous"></script>
        <title>GoDutch</title>
    </head>
    <body>
        <div class="nav">
            <a href="">
                <span>GoDutch</span>
            </a>
        </div>
        <div class="home__wrapper__body">
            <span class="home__welcome__text">Shared your costs.</span>
            <div class="home__body">
                <div class="home__wrapper__create">
                    <a href="./create-dutch.html">
                        <button class="home__create__btn">
                            <i class="fa-solid fa-circle-plus"></i>
                            CREATE NEW DUTCH
                        </button>
                    </a>
                </div>
                <div class="home__dutch__list">
                    <div class="home__dutch__list__header">
                        <i class="fa-solid fa-list"></i>
                        <span>YOUR LIST</span>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <a href="/"> ไร่ต้องมนต์</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/"> New York Trip </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/"> Big Moutain Festival </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
