<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/global.css" />
        <link rel="stylesheet" href="../static/nav.css" />
        <link rel="stylesheet" href="../static/receipt.css" />
        <title>Receipt | GoDutch</title>
    </head>
    <body>
        <div class="nav">
            <a href="/">
                <span>GoDutch</span>
            </a>
        </div>
        <div class="receipt__wrapper__container">
            <div class="receipt__container">
                <div class="receipt__container__header">
                    <span>RECEIPT</span>
                </div>
                <div class="receipt__container__body">
                    <div class="receipt__list">
                        <span class="receipt__member">Wave</span>
                        <div class="receipt__item">
                            <span>เบียร์</span>
                            <span>2,000</span>
                        </div>
                        <div class="receipt__item">
                            <span>กะหรี่</span>
                            <span>2,000</span>
                        </div>
                        <div class="receipt__item">
                            <span>กะหรี่</span>
                            <span>2,000</span>
                        </div>
                        <div class="receipt__total">
                            <span>TOTAL</span>
                            <span>2,000</span>
                        </div>
                    </div>
                    <div class="receipt__list">
                        <span class="receipt__member">Wave</span>
                        <div class="receipt__item">
                            <span>เบียร์</span>
                            <span>2,000</span>
                        </div>
                        <div class="receipt__item">
                            <span>กะหรี่</span>
                            <span>2,000</span>
                        </div>
                        <div class="receipt__item">
                            <span>กะหรี่</span>
                            <span>2,000</span>
                        </div>
                        <div class="receipt__total">
                            <span>TOTAL</span>
                            <span>2,000</span>
                        </div>
                    </div>
                    <div class="receipt__list">
                        <span class="receipt__member">Wave</span>
                        <div class="receipt__item">
                            <span>เบียร์</span>
                            <span>2,000</span>
                        </div>
                        <div class="receipt__item">
                            <span>กะหรี่</span>
                            <span>2,000</span>
                        </div>
                        <div class="receipt__item">
                            <span>กะหรี่</span>
                            <span>2,000</span>
                        </div>
                        <div class="receipt__total">
                            <span>TOTAL</span>
                            <span>2,000</span>
                        </div>
                    </div>
                    <div class="receipt__list">
                        <span class="receipt__member">Wave</span>
                        <div class="receipt__item">
                            <span>เบียร์</span>
                            <span>2,000</span>
                        </div>
                        <div class="receipt__item">
                            <span>กะหรี่</span>
                            <span>2,000</span>
                        </div>
                        <div class="receipt__item">
                            <span>กะหรี่</span>
                            <span>2,000</span>
                        </div>
                        <div class="receipt__total">
                            <span>TOTAL</span>
                            <span>2,000</span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="receipt__back__btn">BACK</button>
        </div>
    </body>
</html>
