<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}" />
        <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}" />
        <link rel="stylesheet" href="../static/css/receipt.css" th:href="@{/css/receipt.css}" />
        <title>Receipt | GoDutch</title>
    </head>
    <body>
        <div class="nav">
            <a href="/">
                <span>GoDutch</span>
            </a>
        </div>
        <div class="receipt__wrapper__container">
            <div class="receipt__container">
                <div class="receipt__container__header">
                    <span>RECEIPT</span>
                </div>
                <div class="receipt__container__body">
                    <div class="receipt__wrap__topic__price">
                        <span th:text="${dutch.getTopic()}" ></span>
                        <span >8,000.0</span>
                    </div>
                    <div class="receipt__list" th:each="member : ${receipt.memberList}">
                        <span class="receipt__member" th:text="${member.getName()}"></span>
                        <div class="receipt__item" th:each="item : ${member.getItemEat()}">
                            <span th:text="${item}"></span>
                            <span >100**</span>
                        </div>
                        <div class="receipt__total">
                            <span>TOTAL</span>
                            <span th:text="${member.getPrice()}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <a class="receipt__back__btn"th:href="@{/back-edit-dutch/{id}(id=${dutch.id})}">BACK</a>
        </div>
    </body>
</html>
